<!doctype html>

<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>

  <title>{% block title %}{% endblock %}</title>

</head>
<body class="bg-gray-100">
   <nav class="py-6 px-6 flex justify-between bg-teal-500 shadow-md">
     <a href="/" class="text-white font-bold">TEAL CRM</a>

     <div class="space-x-4">
       <a href="{% url 'about' %}" class="text-white hover:underline">About</a>
       {% if request.user.is_authenticated %}
           <a href="{% url 'dashboard'%}" class="py-2 px-4 bg-teal-600 hover:bg-teal-700 rounded-xl text-white transition duration-300">Dashboard</a>
           <a href="{% url 'leads_list'%}" class="py-2 px-4 bg-teal-600 hover:bg-teal-700 rounded-xl text-white transition duration-300">Leads</a>
           <a href="{% url 'clients_list'%}" class="py-2 px-4 bg-teal-600 hover:bg-teal-700 rounded-xl text-white transition duration-300">Clients</a>
           <a href="{% url 'logout' %}" class="py-2 px-4 bg-red-600 hover:bg-red-700 rounded-xl text-white transition duration-300">Logout</a>
       {% else %}
            <a href="{% url 'login'%}" class="py-2 px-4 bg-teal-600 hover:bg-teal-700 rounded-xl text-white transition duration-300">Login</a>
            <a href="{% url 'signup' %}" class="py-2 px-4 bg-teal-400 hover:bg-teal-500 rounded-xl text-white transition duration-300">Sign Up</a>
       {% endif %}
     </div>
   </nav>

   {% if messages %}
   <div class="py-6 px-6">
       {% for message in messages %}
        <div class="py-4 px-4 bg-teal-300 rounded-xl mb-4 shadow-md">
            {{ message }}
        </div>
       {% endfor %}
   </div>
 {% endif %}

   {% block content %}
   {% endblock %}

  <footer class="py-8 text-center bg-gray-200 shadow-inner mt-8">
    <p class="text-gray-700">Copyright (c)-2023 </p>
  </footer>
</body>
</html>


